﻿@model IEnumerable<Basket>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var basket in Model)
    {
        <div class="col-sm-4">
            <h2>Input @basket.Name</h2>
            <ul>
                @foreach (var product in basket.Products)
                {
                    <li>@product.GetQuantity() @(product.IsImported() ? "Imported" : "" ) @product.GetName() at £@product.GetWholesaleValue()</li>
                }
            </ul>          
        </div>  
    }
</div>
<div class="row">
    @foreach (var basket in Model)
    {
        <div class="col-sm-4">
            <h2>Output @basket.Name</h2>
            <ul>
                @foreach (var product in basket.Products)
                {
                    <li>@product.GetQuantity() @(product.IsImported() ? "Imported" : "" ) @product.GetName() at £@product.GetRetailValue()</li>
                }
                <li>Sales Taxes: @basket.GetTax()</li>
                <li>Total: @basket.GetTotal()</li>
            </ul>          
        </div>  
    }
</div>
